* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.header {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  /* margin-bottom: 100px; */
  padding-bottom: 120px;
}

.header-image .rombs {
  position: absolute;
  top: 75px;
  left: -20%;
  width: 564px;
  height: 864px;
  border: 13px solid blue;
  border-radius: 130px;
  transform: rotate(45deg);
  background: #2b57f9;
}
.header-image .rombs img {
  transform: rotate(-45deg);
  width: 500px;
  margin-left: 70px;
  margin-top: -50px;
}
.header-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: right;
  margin-right: 200px;
  align-items: flex-end;
}
.header-content h1 {
  font-weight: 800;
  font-size: 37px;
  line-height: 75px;
  letter-spacing: 2px;
  color: #2448c9;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
}

.main2 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}
.header_title {
  margin: 0;
  margin-bottom: 24px;
}
.mainp {
  font-size: 27px;
  font-weight: bold;
  color: #393a3d;
  margin-bottom: 23px;
  text-transform: uppercase;
}
.subtitle {
  margin-top: 10px;
  font-size: 16px;
  color: #393a3d;
  max-width: 700px;
  font-family: "SFProDisplay";
  letter-spacing: 1px;
  line-height: 20px;
}
.quote {
  font-size: 25px;
  font-weight: bold;
  color: #2448c9;
  margin-top: 35px;
  margin-bottom: 110px;
}
/* .header-image {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header-image img {
  width: 100%;
  height: 100%;
} */
.romb {
  position: absolute;
  width: 500px;
  bottom: -350px;
  left: 33%;
  overflow: hidden;
  z-index: -999;
}
.rightRomb {
  position: absolute;
  width: 500px;
  top: 10%;
  right: -350px;
  overflow: hidden;
  z-index: -999;
}

@media screen and (max-width: 1050px) {
  .header {
    flex-direction: column;
  }
  .header-content {
    margin: 0px 0px 3rem;
  }
}
@media screen and (max-width: 650px) {
  .header h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .header p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 550px) {
  .header h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .header p {
    font-size: 14px;
    line-height: 24px;
  }

  .romb {
    display: none;
  }
  .rightRomb {
    display: none;
  }
}
